<template>
    <h2 class=titulo> Gestión de información de habitaciones</h2>

    <div class = "b" v-if="listaHoteles">
        <table align="center" cellpadding="8">
        <tr>
            <td>Hotel</td>
            <td>
                <select name="hoteles" v-model="idHotel" v-on:change="verHabitaciones()">
                    <option v-for="hotel in listaHoteles" :key="hotel.id" v-bind:value="hotel.id">
                        {{hotel.nombreHotel}}
                    </option>
                </select>
            </td>
        </tr>
        </table>
    </div>

    <br><br>

    <div class= "c" v-if="habitaciones != null">
        <table id="resultados" align="center" width="60%" cellpadding="6">
            <thead>
                <tr>
                    <th width="10%">Id</th><th width="10%">Número</th><th width="10%">Tipo</th>
                    <th width="10%">Personas</th><th width="10%">Valor</th><th width="50%">Detalles</th>
                </tr>
            </thead>
            <tbody>
                <tr align="center" v-for="habitacion in habitaciones" :key="habitacion.id" v-on:click="formActualizar(habitacion.id)">
                    <td>{{habitacion.id}}</td>
                    <td>{{habitacion.numeroHabitacion}}</td>
                    <td>{{habitacion.tipoHabitacion}}</td>
                    <td>{{habitacion.numeroPersonas}}</td>
                    <td>{{habitacion.valor}}</td>
                    <td>{{habitacion.descripcion}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="overlay" v-if="verPopUp">
    </div>

    <div class="pop-up" v-if="verPopUp" align="center">
        <table cellpadding="7" width="90%">
            <tr>
                <td colspan="2"><b>Habitación {{habitSelec}}</b></td>
            </tr>
            <tr>
                <td>Tipo</td> 
                <td><input type="text" placeholder="Nuevo tipo" v-model="nuevoTipo"></td>
            </tr>
            <tr>
                <td>Personas</td> 
                <td><input type="text" placeholder="Personas a alojar" v-model="nuevasPersonas"></td>
            </tr>
            <tr>
                <td>Valor</td> 
                <td><input type="text" placeholder="Nuevo valor" v-model="nuevoValor"></td>
            </tr>
            <tr>
                <td>Detalles</td> 
                <td><input type="textarea" placeholder="Nueva descripción" v-model="nuevaDescripcion"></td>
            </tr>
        </table>
        <br>
        <button v-on:click="verPopUp=false">Volver</button>
        <button v-on:click="actualizarInfo()">Actualizar</button>
    </div>

</template>

<script>
import axios from 'axios';

export default {
    name: "Administrador",

    data: function(){
        return {
           listaHoteles:null,
           habitaciones:null,
           id: localStorage.getItem('idUser') || "none",
           idHotel: "",
           verPopUp: false,
           habitSelec: 0,
           nuevoTipo: "",
           nuevasPersonas: null,
           nuevoValor: null,
           nuevaDescripcion: ""
        }
    },

    methods: {
        consultarHoteles() {
            axios.get(`https://hotel-un-vago-backend.herokuapp.com/verhoteles/`, {headers: {}})
                .then((result) => {
                    this.listaHoteles = result.data;
                })
                .catch(() => {
                    alert("Hubo un problema al consultar los hoteles");
                });
        },

        verHabitaciones(){ 
            axios.get(`https://hotel-un-vago-backend.herokuapp.com/verhabitaciones/${this.idHotel}/`, {headers: {}})
                .then((result) => {
                    this.habitaciones = result.data;
                })
                .catch(() => {
                alert("Error: Fallo en la búsqueda de habitaciones");
            });
        },

        formActualizar(habId){
            this.habitSelec = habId;
            this.verPopUp = true;
        },

        actualizarInfo(){
            if(this.nuevoTipo != "" && this.nuevasPersonas != null){
                axios.put(`https://hotel-un-vago-backend.herokuapp.com/nuevotipohab/${this.habitSelec}/${this.nuevoTipo}/${this.nuevasPersonas}/`, {headers: {}})
                .then((result) => {
                    this.nuevoTipo = "";
                    this.nuevasPersonas = null;
                    alert("Tipo de habitación y personas actualizados");
                })
                .catch(() => {
                    alert("Error al actualizar tipo de habitación y personas");
                });
            }

            if(this.nuevoValor != null){
                axios.put(`https://hotel-un-vago-backend.herokuapp.com/nuevovalorhab/${this.habitSelec}/${this.nuevoValor}/`, {headers: {}})
                .then((result) => {
                    this.nuevoValor = null;
                    alert("Nuevo valor actualizado");
                })
                .catch(() => {
                    alert("Error al actualizar el valor");
                });
            }

            if(this.nuevaDescripcion != ""){
                axios.put(`https://hotel-un-vago-backend.herokuapp.com/nuevadescrhab/${this.habitSelec}/${this.nuevaDescripcion}/`, {headers: {}})
                .then((result) => {
                    this.nuevaDescripcion = "";
                    alert("Nueva descripción actualizada");
                })
                .catch(() => {
                    alert("Error al actualizar el valor");
                });
            }
            this.verPopUp = false;
        }
    },

    created: async function(){
        this.consultarHoteles();
    },
}
</script>
<style>

    button{
        color: #E5E7E9;
        background: #1D2E62;
        border: 1px solid #E5E7E9;
        border-radius: 5px;
        padding: 10px 20px;
    }

    button:active{
        color: #1D2E62;
        background: #E5E7E9;
        border: 1px solid #1D2E62;
    }

    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.3);
    }

    .pop-up{
        position: fixed;
        height:35%;
        width: 25%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: #FFF;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
        z-index: 2;
    }

     #resultados, .pop-up table{
        border-radius: unset;
        border-spacing: 0;
    }

    #resultados td, th{
        border: 1px solid rgba(0, 0, 0, 0.4);
        padding: 0.3em;
        height: 30px;
    }

    
    #resultados tbody tr:hover
    {
        background-color:#1D2E62;
        color: white;
        cursor: pointer;
    }

    .titulo{
        margin-left: 30px;
        color: #1D2E62;
    }

    .b td{
        color: #1D2E62; 
    }
</style>