<template>
    <br>
    <div class="frmHabitaciones">
        <form v-on:submit.prevent="consulHabit()">
        <table align="center" cellpadding="2">
            <tr>
                <td width="30%"><input type="date" id="checkin" v-model="reserva.checkIn"/></td>
                <td width="30%"><input type="date" id="checkout" v-model="reserva.checkOut"/></td>
                <td width="20%"><input type="number" id="personas" min="1" max="4" v-model="numPersonas"/></td>
                <td width="20%"><button type="submit" id="buscar">Buscar</button></td>
            </tr>
            <tr>
                <td align="center">Llegada</td>
                <td align="center">Salida</td>
                <td align="left">Personas</td>
                <td></td>
            </tr>
        </table>
        </form>
    </div>

    <br><br>

    <div class="disponibles" v-for="habitacion in listaHabitac" :key="habitacion.id">
        <table align="center" cellpadding="4" width="60%" height="220">
            <tr>
                <td rowspan="3" width="35%" align="center" > 
                    <img class="img-habitacion" v-bind:src="require(`../assets/habitaciones/${habitacion.id}.jpg`)">
                </td>
                <td colspan="3"><b>Habitación {{ habitacion.numeroHabitacion }}</b></td>
            </tr>
            <tr>
                <td colspan="3">{{ habitacion.descripcion }}</td>
            </tr>
            <tr>
                <td>Acomodación:<br>{{ habitacion.tipoHabitacion }}</td>
                <td>Costo por día:<br>${{ habitacion.valor }}</td>
                <td align="center">
                    <button v-on:click="confirHabit(habitacion.id, habitacion.numeroHabitacion, habitacion.valor)">
                         Reservar
                    </button>
                </td>
            </tr>
        </table>
        <br><br>
    </div>

    <div class="pop-up-1" v-if="confirmar">
        <table align="center" width="90%" cellpadding="6">
            <tr>
                <td align="center" colspan="2"><b>{{nombreHotel}}</b></td>
            </tr>
            <tr>
                <td><b>Habitación:</b><br>{{numHabitacion}}</td>
                <td rowspan="3" align="right">
                    <img v-bind:src="require(`../assets/habitaciones/${reserva.habitacion}.jpg`)">
                </td>
            </tr>
            <tr>
                <td><b>Fecha de entrada:</b><br>{{reserva.checkIn}}</td>
            </tr>
            <tr>
                <td><b>Fecha de salida:</b><br>{{reserva.checkOut}}</td>
            </tr>
            <tr>
                <td align="right" colspan="2"><b>Valor por día:</b><br>${{valorHab}}</td>
            </tr>
        </table>
        <div align="center">
            <button v-on:click="confirmar=false">Volver</button>
            <button v-on:click="reservarHabit()">Reservar</button>
        </div>
    </div>

    <div class="pop-up-2" v-if="reservar" align="center">
        <h3> La habitación {{habitacion}} ha sido reservada con éxito </h3>
        <h4> Código de reserva: {{codReserva}} </h4>
        <p>Por favor conserve el código generado por el sistema. Con él podrá solicitar
            al hotel cambios o la cancelación de la reserva en caso de requerirlo.</p> 
        <button v-on:click="this.$router.push({ name: 'reserva' })">
            Continuar
        </button>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    data: function(){
        return {
            reserva: {
                fechaReserva: "",
                checkIn: "",
                checkOut: "",
                diasReserva: null,
                valorReserva: null,
                habitacion: null,
                user: null
            },
            idhotel: null,
            nombreHotel: localStorage.getItem('nombreHotel'),
            listaHabitac: null,
            numHabitacion: null,
            valorHab: null,
            confirmar: false,
            reservar: false,
            codReserva: null
        }
    },

    methods: {
        consulHabit(){ 
            axios.get(
            `https://hotel-un-vago-backend.herokuapp.com/habdisponibles/${this.idhotel}/${this.numPersonas}/${this.reserva.checkIn}/${this.reserva.checkOut}`, {headers: {}})
                .then((result) => {
                    this.listaHabitac = result.data;
                })
                .catch(() => {
                alert("Error: Fallo en la búsqueda de habitaciones");
            });
        },

        confirHabit(id, habitacion, valor){
            this.reserva.habitacion = id;
            this.numHabitacion = habitacion;
            this.valorHab = valor;
            this.confirmar = true;
        },

        reservarHabit(){
            this.reserva.user = localStorage.getItem('idUser');

            let hoy = new Date();
            let fechaIn = new Date(this.reserva.checkIn);
            let fechaOut = new Date(this.reserva.checkOut);
            this.reserva.diasReserva = ((fechaOut - fechaIn) / 86400000) + 1; //Milisegundos que tiene un día
            this.reserva.fechaReserva= hoy.getFullYear()+'-'+(hoy.getMonth()+1)+'-'+hoy.getDate();
            this.reserva.valorReserva = this.valorHab * this.reserva.diasReserva;

            axios.post("https://hotel-un-vago-backend.herokuapp.com/nuevareserva/",this.reserva,{headers: {}})
                .then((result) => {
                    this.codReserva = result.data.id;
                    localStorage.setItem('codReserva', this.codReserva);
                    this.reservar = true;
                    this.confirmar = false;
                })
                .catch(() => {
                    alert("Error: Fallo al momento de generar la reserva");
                });
            //this.reservar = true;
            //this.confirmar = false;
        }
    },

    created(){
        this.idhotel = this.$route.params.id;
    }
}
</script>

<style>

    .img-habitacion{
        width: 85%;
        height: 85%;
    }

    .pop-up-1{
        position: fixed;
        height:65%;
        width: 45%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: #FFF;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
        z-index: 2;
        border: 1px solid rgba(0, 0, 0, 0.4);
    }

    .pop-up-1 table{
        border: none;
        box-shadow: none;
    }

    .pop-up-1 img{
        width: 85%;
        height: 85%;
    }

    .pop-up-2{
        position: fixed;
        height:35%;
        width: 25%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: #FFF;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
        z-index: 3;
        border: 1px solid rgba(0, 0, 0, 0.4);
    }

    .overlay{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.3);
    }
    .frmHabitaciones td {
        color: #1D2E62; 
    }
    .disponibles td{
        color:#1D2E62;
    }
</style>
