<template>
    <br><br>
    <div class="hoteles" v-for="hotel in listaHoteles" :key="hotel.id">
        <table align="center" cellpadding="10" width="70%">
            <tr>
                <td colspan="2"><b>{{ hotel.nombreHotel }}</b></td>
                <td rowspan="4" width="40%" align="center">
                    <img class="img-hotel" v-bind:src="require(`../assets/hoteles/hotel_${hotel.id}.jpg`)">
                </td>
            </tr>
            <tr>
                <td width="40%"><img src="../assets/iconos/ciudad.png"> {{ hotel.ciudad }}</td>
                <td width="20%"><img src="../assets/iconos/direccion.png"> {{ hotel.direccion }}</td>
            </tr>
            <tr>
                <td><img src="../assets/iconos/correo.png"> {{ hotel.correo }}</td>
                <td><img src="../assets/iconos/telefono.png"> {{ hotel.telefono }}</td>
            </tr>
            <tr>
                <td>{{ hotel.descripcion }}</td>
                <td align="center">
                    <button class="button" v-on:click="buscarHabitaciones(hotel.id, hotel.nombreHotel)">
                         Ver habitaciones
                    </button>
                </td>
            </tr>
        </table>
        <br><br>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: "Hoteles",

    data: function(){
        return {
           listaHoteles:null,
           id: localStorage.getItem('idUser') || "none"
        }
    },

    methods: {
        getData: async function () {
            if (localStorage.getItem("token_access") === null || localStorage.getItem("token_refresh") === null) {
                this.$emit('logOut');
                return;
            }

            await this.verifyToken();
            let token = localStorage.getItem("token_access");

            axios.get(`https://hotel-un-vago-backend.herokuapp.com/verhoteles/`, {headers: {'Authorization': `Bearer ${token}`}})
                .then((result) => {
                    this.listaHoteles = result.data;
                })
                .catch(() => {
                this.$emit('logOut');
            });
        },

        verifyToken: function () {
            return axios.post("https://hotel-un-vago-backend.herokuapp.com/refresh/", {refresh: localStorage.getItem("token_refresh")}, {headers: {}}
            )
            .then((result) => {
                localStorage.setItem("token_access", result.data.access);
            })
            .catch(() => {
                this.$emit('logOut');
            });
        },

        buscarHabitaciones(id, hotel){
            localStorage.setItem('nombreHotel', hotel );
            this.$router.push({ name: "habitaciones", params:{id}});
        },
    },

    created: async function(){
        this.getData();
    },
}
</script>
<style>

    .information{
        margin: 0;
        padding: 0%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .information h1{
        font-size: 60px;
        color: #1D2E62;
    }

    .information h2{
        font-size: 40px;
        color: #1D2E62;
    }

    .information span{
        color: white;
        font-weight: bold;
    }

    .img-hotel{
        width: 70%;
        height: 70%;
    }

    table{
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
    }

    button{
        color: #E5E7E9;
        background: #1D2E62;
        border: 1px solid #E5E7E9;
        border-radius: 5px;
        padding: 10px 20px;
    }

    button:active{
        color: #1D2E62;
        background: #E5E7E9;
        border: 1px solid #1D2E62;
    }
    .hoteles td {
        color: #1D2E62; 
    }
</style>