<template>
    
    <div class="logIn_user">
        <div class ="v">
            <video autoplay loop>
                <source src = "../assets/videos/videointo.mp4">     
            </video>
            
        </div>
        <div class="text">
            <h1>Hotel Un Vago</h1>
            <p>El mejor hotel latinoamericano con los mejores precios de la web.<br>Registrate y reserva de una manera rápida y fácil</p>     
        </div>

        <div class="container_logIn_user">
            <h2>Iniciar sesión</h2>

            <form v-on:submit.prevent="processLogInUser" >
                <input type="text" v-model="user.username" placeholder="Username">
                <br>
                <input type="password" v-model="user.password" placeholder="Password">
                <br>
                <button type="submit">Iniciar Sesion</button>
            </form>
        </div>        
    </div>   
    
</template>

<script>
import axios from 'axios';
import jwt_decode from "jwt-decode";

export default {
    name: "LogIn",

    data: function(){
        return {
            user: {
                username:"",
                password:""
            }
        }
    },

    methods: {
        processLogInUser: function(){
            axios.post(
            "https://hotel-un-vago-backend.herokuapp.com/login/", //Este es el nombre de la app en Heroku. Buscar
            this.user,
            {headers: {}}
            )
            .then((result) => {
                let token = result.data.access;
                let dataLogIn = {
                    username: this.user.username,
                    idUser: jwt_decode(token).user_id.toString(),
                    rol: jwt_decode(token).rol.toString(),
                    token_access: result.data.access,
                    token_refresh: result.data.refresh,
                }
                this.$emit('completedLogIn', dataLogIn)
            })
            .catch((error) => {

                if (error.response.status == "401")
                    alert("ERROR 401: Credenciales Incorrectas.");
            });
        }
    }
}   
</script>

<style>
.logIn_user{
    margin: 0,0,0,0;
    padding: 0%;
    height: 100%;
    width: 100%;
    z-index: 0;
    /* display: flex;
    justify-content: right ;
    justify-content: space-around;
    align-items: center; */
    
}
.logIn_user h1{
    font-size: 45px;
    color: white;
    text-shadow: 0px 0px 7px #1D2E62;
}
.logIn_user p {
    font-size: 18px;
    color: white;
    text-shadow: 0px 0px 7px #1D2E62;
    
}

.container_logIn_user {
    border: 3px solid #1D2E62;
    border-radius: 10px;
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    z-index: 3;
    position: fixed;
    background:rgba(255,255,255,0.7);
    top: 30%;
    left: 65%;
    box-shadow: rgba(255,255,255) 0px 0px 10px ;
}

.logIn_user h2{
    color: #1D2E62;
}

.logIn_user form{
    width: 70%;
}

.logIn_user input{
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 5px 0;
    border: 1px solid #1D2E62;
    

}

.logIn_user button{
    width: 100%;
    height: 40px;
    color: #E5E7E9;
    background: #1D2E62;
    border: 1px solid #E5E7E9;
    border-radius: 5px;
    padding: 10px 25px;
    margin: 5px 0;
}

.logIn_user button:active{
    color: #1D2E62;
    background: white;
    border: 2px solid #1D2E62;
}
.v {
     
    position: fixed;
    z-index: 1;
}
.v video{
    
    position: fixed;
    width: 100%;
}

.text {
    z-index: 3;
    position: fixed;
    top: 40%;
    left: 10%;
    
}

    
</style>