<template>
    <br>
    <div align="center">
        <h2>Muchas gracias por preferirnos</h2>
        <h4>A continuación encontrará los detalles de la última reservación hecha</h4>
    </div>
    
    <div class="ultima-reserva">
        <table align="center" cellpadding="6" v-if="reserva" width="50%">
            <tr>
               <td>Código reserva</td>
               <td>{{codRes}}</td>
               <td>Fecha de reserva</td>
               <td>{{reserva[0].fechaReserva}}</td>
            </tr>
            <tr>
               <td>Hotel</td>
               <td>{{nombreHotel}}</td>
               <td>Habitación núm.</td>
               <td>{{reserva[0].habitacion}}</td>
            </tr>
            <tr>
               <td>Acomodación</td>
               <td>{{reserva[0].tipoHabitacion}}</td>
               <td>Habitación para</td>
               <td>{{reserva[0].numeroPersonas}} persona(s)</td>
            </tr>
            <tr>
               <td>Fecha de llegada</td>
               <td>{{reserva[0].checkIn}}</td>
               <td>Fecha de salida</td>
               <td>{{reserva[0].checkOut}}</td>
            </tr>
            <tr>
               <td>Días reservados</td>
               <td>{{reserva[0].diasReserva}}</td>
               <td>Costo total de la reserva</td>
               <td>${{reserva[0].valorReserva}}</td>
            </tr> 
        </table>
    </div>
    <br>
    <div align="center" width="50%">
        <p>En caso de existir algún error en la reserva, puede cancelarla dando clic
            en Cancelar esta reserva. De lo contrario, de clic en Terminar.</p>
        <button v-on:click="cancelarReserva()">Cancelar esta reserva</button>
        <button v-on:click="terminar()">Terminar</button>
    </div>

    <div>
        <transition name="fade">
            <div class="overlay" v-if="resultado!=0">
            </div>
        </transition>

         <transition name="fade">
            <div class="pop-up" v-if="resultado!=0" align="center">
                <div name="cancelado" v-if="resultado==1">
                    <h3>Reserva cancelada con éxito</h3>
                </div>
                <div name="error-cancelar" v-if="resultado==2">
                    <h3>Discúlpenos: hubo un error al cancelar la reserva</h3>
                    <p>
                        Si desea cancelarla de todas formas, agradecemos ponerse en contacto con nuestra linea de hoteles.
                    </p>              
                </div>
                <p>
                    Muchas gracias por utilizar nuestros servicios. Esperamos verlo de nuevo pronto.
                </p>
                <button v-on:click="terminar()">Terminar</button>
            </div>
        </transition>
    </div>
</template>

<script>
import axios from 'axios';

export default {

    data: function(){
        return {
            codRes: localStorage.getItem('codReserva'),
            reserva: null,
            nombreHotel: localStorage.getItem('nombreHotel'),
            resultado: 0
        }
    },

    methods: {
        consultaReserva(){
            let cliente = localStorage.getItem('idUser');

            axios.get(
            `https://hotel-un-vago-backend.herokuapp.com/ultimareserva/${cliente}/`, {headers: {}})
                .then((result) => {
                    this.reserva = result.data;
                })
                .catch(() => {
                alert("Error: Fallo en la búsqueda de la reserva");
            });
        },

        cancelarReserva(){
            if (confirm("¿Está seguro de cancelar la reserva?")){
                 axios.delete(
                    `https://hotel-un-vago-backend.herokuapp.com/cancelareserva/${this.codRes}/`, {headers: {}})
                .then((result) => {
                    this.resultado = 1;
                })
                .catch(() => {
                    this.resultado = 2;
                });
            }
        },

        terminar() {
            this.$emit('logOut');
        },
    },

    created: async function(){
        this.consultaReserva();
    },
}

</script>
<style>

    .information{
        margin: 0;
        padding: 0%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .information h1{
        font-size: 60px;
        color: #1D2E62;
    }

    .information h2{
        font-size: 40px;
        color: #1D2E62;
    }

    .information span{
        color: white;
        font-weight: bold;
    }

    .pop-up{
        position: fixed;
        height:35%;
        width: 25%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: #FFF;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
        z-index: 3;
    }

    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.3);
    }
</style>