<template>
    <div class = "i"></div>
    <div class="signUp_user">
        <div class="container_signUp_user">
            <h2>Crear cuenta nueva</h2>
            <form v-on:submit.prevent="processSignUp" >
                <input type="text" v-model="user.username" placeholder="Username">
                <br>
                <input type="password" v-model="user.password" placeholder="Contraseña">
                <br>
                <input type="password" v-model="confirPass" placeholder="Confirme contraseña">
                <br>
                <input type="text" v-model="user.name" placeholder="Nombre y apellido">
                <br>
                <input type="email" v-model="user.email" placeholder="Correo electrónico">
                <br>
                <button type="submit">Registrarse</button>
            </form>

        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: "SignUp",

    data: function(){
        return {
            user: {
                username: "",
                password: "",
                name: "",
                email: "",
                rol: "Cliente"
            },
            confirPass: ""
        }
    },

    methods: {
        processSignUp: function(){
            if(this.user.password == this.confirPass){
                axios.post(
                "https://hotel-un-vago-backend.herokuapp.com/user/",this.user,{headers: {}}
                )
                .then((result) => {
                    //Mirar mañana aquí si quito lo del loggeo automático
                    /*let dataSignUp = {
                        username: this.user.username,
                        token_access: result.data.access,
                        token_refresh: result.data.refresh,
                    }
                    this.$emit('completedSignUp', dataSignUp)*/
                    alert("Registro Exitoso\nBienvenido a Unvago");
                    this.$router.push({ name: "logIn" });
                })
                .catch((error) => {
                    console.log(error)
                    alert("ERROR: Fallo en el registro.");
                });
            }
            else{
                alert("La constraseña y su verificación no coinciden");
            }
        }
    }
}
</script>

<style>

    .signUp_user{
        margin: 0;
        padding: 0%;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .container_signUp_user {
        background: rgba(255,255,255,0.7);
        border: 3px solid #1D2E62;
        border-radius: 10px;
        width: 25%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 2;
        top:27%; 
        box-shadow: rgba(255,255,255) 0px 0px 10px ;
        
    }

    .signUp_user h2{
        color: #1D2E62;
    }

    .signUp_user form{
        width: 70%;
    }

    .signUp_user input{
        height: 40px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 20px;
        margin: 5px 0;
        border: 1px solid #1D2E62;
    }

    .signUp_user button{
        width: 100%;
        height: 40px;
        color: #E5E7E9;
        background: #1D2E62;
        border: 1px solid #E5E7E9;
        border-radius: 5px;
        padding: 10px 25px;
        margin: 5px 0 25px 0;
    }

    .signUp_user button:hover{
        color: #1D2E62;
        background: white;
        border: 1px solid #1D2E62;
    }

    .i {
        width:100%;
        background-image: url("../assets/foto.png");
        height: 100%;
        background-size:cover;
        position: fixed;
        z-index: 1;
    }

</style>