<template>
   
  <div id="app" class="app">
    <div class="header">
      <img src="./assets/Logoblanco.png">
      <nav>
        <button v-if="!is_auth" v-on:click="loadLogIn" >Iniciar sesión</button>
        <button v-if="!is_auth" v-on:click="loadSignUp" >Registrarse</button>
        <button v-if="is_auth" v-on:click="logOut">Cerrar sesión</button>
      </nav>  
    </div>

    <div class="main-component">
      <router-view
        v-on:completedLogIn="completedLogIn"
        v-on:completedSignUp="completedSignUp"
        v-on:logOut="logOut">
      </router-view>   
    </div>
    
  </div>
  
</template>

<script>
export default {
  name: 'App',

  data: function(){
    return{
      is_auth: false,
      rol: ""
    }
  },

  components: {
  },

  methods:{
    verifyAuth: function() {
      this.is_auth = localStorage.getItem("isAuth") || false;
      if (this.is_auth == false){
        this.$router.push({ name: "logIn" });
      }
      else{
        if(this.rol=="Administrador"){
          this.$router.push({ name: "administrador" });
        }
        else{
          this.$router.push({ name: "hoteles" });
        }
      }   
    },

    loadLogIn: function(){
      this.$router.push({name: "logIn"})
    },

    loadSignUp: function(){
      this.$router.push({name: "signUp"})
    },

    loadHome: function() {
      this.$router.push({ name: "home" });
    },

    logOut: function () {
      localStorage.clear();
      alert("Gracias por preferirnos.\nHotel Unvago: alojando sueños.");
      this.verifyAuth();
    },

    loadAccount: function () {
      this.$router.push({ name: "account" });
    },

    completedLogIn: function(data) {
      localStorage.setItem("isAuth", true);
      localStorage.setItem("username", data.username);
      localStorage.setItem("idUser", data.idUser);
      localStorage.setItem("token_access", data.token_access);
      localStorage.setItem("token_refresh", data.token_refresh);
      this.rol = data.rol;
      alert("Bienvenido a Hoteles Unvago");
      this.verifyAuth();
    },
  },

  created: function(){
    this.verifyAuth()
  }

}
</script>

<style>
  *{
    font-family: Arial, Helvetica, sans-serif;
  }
  body{
    margin: 0 0 0 0;
  }

  .header{
    margin: 0%;
    padding: 0;
    width: 100%;
    height: 10vh;
    min-height: 100px;
    background-color: #1D2E62 ;
    color:#E5E7E9 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header img{
    min-height: 70px;
    height: 10vh;
    padding: 4px;
  }

  .header nav {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
  }

  .header nav button{
    color: #E5E7E9;
    background: #1D2E62;
    border: 1px solid #E5E7E9;
    border-radius: 5px;
    padding: 10px 20px;
  }

  .header nav button:hover{
    color: #1D2E62;
    background: #E5E7E9;
    border: 1px solid #E5E7E9;
  }

  .main-component{
    height: 75vh;
    margin: 0%;
    padding: 0%;
    background: #FDFEFE ;
  }
</style>